body {
  text-align: center;
  background-color: #2c1058cc;
  margin:10vh;
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.w {
  background-image: url("images/tom1.png");
}

.a {
  background-image: url("images/tom2.png");
}

.s {
  background-image: url("images/tom3.png");
}

.d {
  background-image: url("images/tom4.png");
}

.j {
  background-image: url("images/snare.png");
}

.k {
  background-image: url("images/crash.png");
}

.l {
  background-image: url("images/kick.png");
}

.panel{
  /* border: 1px solid black; */
  border-radius: 25px;
  background-color: rgba(232, 230, 234, 0.486);
  
}
.set {
  margin: 10% auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.pressed {
  box-shadow: 0 3px 4px 0 #e6dbf300;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 3rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100px;
  height: 100px;
  text-align: center;
  margin: 10px;
  background-color: white;
}

@media(min-width:425px){
  .panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
  }
}